#checkbox {
    height: 50px;
    width: 50px;
}

.edit-title-input{
    height: 50px;
    font-size: 2em;
    width: 80%;
}

.edit-description-input{
    /* height: 50px; */
    font-size: 2em;
    width: 80%;
}

#update_description{
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}
