#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-top: 60px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#modal_container{
  height: 100dvh;
  width: 100dvw;
  background-color: hsla(200, 4%, 14%, 0.5);
  /* color: #1b1919; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* align-content: center; */
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal{
  position: relative;
  height: 60%;
  max-width: 900px;
  background-color: rgb(30, 28, 28);
  margin-top: 5em;
  width: 90dvw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2em;
}

.modal_footer{
  display: flex;
  justify-content: end;
  gap: 1em;
}

#modal_container header{
  /* display: flex; */
  position: relative;
}

.modal_body{
  height: 90%;
}

.modal_close{
  position: absolute;
  top : 20px;
  right: 20px;
  z-index: 20;
}

.modal_close button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Taille adaptée au design */
  height: 40px; /* Taille adaptée au design */
  padding: 0; /* Supprime les marges internes */
  /* border: none; */
  cursor: pointer;
}

.modal_close span {
  position: absolute; /* Supprimez ceci si non nécessaire */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Facultatif pour éviter les conflits avec les clics */
}

.flex-inline{
  display: flex;
  align-items: center;
  gap: 1em;
}

.btn-rouge {
  background-color: rgb(198, 61, 61);
}

.btn-vert {
  background-color: rgb(53, 130, 23);
}

.btn-gris {
  background-color: rgb(105, 116, 101);
}

.f-center {
  justify-content: center;
}

#nav{
  position: fixed;
  z-index: 999;
  background-color: #f21414bd;
  width: 100dvw;
  top: 0;
  left: 0;
  height: 60px;
  display: flex;
}

.flex-nav{
  display: flex;
  justify-content: space-evenly;
  color: aliceblue;
  align-items: center;
  height: 100%;
  width: 300px;
}
.logo{
  height: 20px;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 900;
}

.container_nav a{
  color: aliceblue;
}

.container_nav a.active{
  color: rgb(255, 255, 255);
  font-weight: 800;
}
